<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>タグ設定画面</title>
</head>
{% endblock %}

{% block contents %}
<body>

    <h1>タグ設定</h1>
    <div class="container">
        <div class="row">
            <div class="my-div-style w-100">
                <div style="margin-bottom:2rem;">
                    <h6>設定されたタグ:</h6>
                    <form method="post" name="tag">
                        {% csrf_token %}
                        <div>
                            {% for tag in tag_register %}
                            <label for="tagbox {{ tag.id }}" style="margin:7px;">
                                <input type="checkbox" name="tagdel" value="{{ tag.id }}" id="tagbox {{ tag.id }}">{{ tag.tag_name }}
                            </label>
                            {% empty %}
                            なし
                            {% endfor %}
                        </div>
                </div>
                <div style="margin-bottom:1rem;">
                    <h6>タグ一覧</h6>
                    {% csrf_token %}
                    {% for i in tag_not_register %}
                    <label for="tagbox {{ i.id }}" style="margin:7px;">
                        <input type="checkbox" name="tag" value="{{ i.id }}" id="tagbox {{ i.id }}">{{ i.tag_name }}
                    </label>
                    {% empty %}
                    全てのタグが設定されています
                    {% endfor %}
                </div>
                <div class="row">
                    <button class="btn btn-success">タグ設定</button>
                    </form>
                    <form method="post" name="add"><a name="add">
                        {% csrf_token %}
                        <button class="btn btn-secondary" style="margin-left:1rem;" name="add" value="add">戻る</button></a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock %}
</html>