<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>資格設定画面</title>
</head>
{% endblock %}

{% block contents %}
<body>
    <h1>資格設定</h1>
    <h5>企業名: {{ company.company_name }}</h5>
    <div class="container">
        <div class="row">
            <div class="my-div-style w-100 ">
                <form method="post">
                    {% csrf_token %}
                    {% for qualif in qualifs %}
                    <div class="row">
                        <label for="qualif{{ qualif.id }}">
                        <input type="checkbox" name="qualif" value="{{ qualif.id }}" id="qualif{{ qualif.id }}">{{ qualif.qualif_name }}
                        </label>
                    </div>
                    {% endfor %}
                    <button class="btn btn-success" style="margin-bottom:1rem;">登録</button>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>