<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

{% block header %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企業一覧画面</title>
</head>
{% endblock %}

{% block contents %}
<body>

<h1>企業一覧</h1>

<div class="container">
    <div class="row">
        <div class="my-div-style w-100">

        </div>
    </div>
</div>
<div class="row" style="margin-left:0rem; margin-bottom:7px;">
    <a name="register" href="{% url 'report:company_register' %}"><button type="button" class="btn btn-primary " style="margin-right:0.5rem;">企業登録</button></a>
    <form method="post">
    {% csrf_token %}
    <a name="tag_register" href="{% url 'report:tag_register' %}"><button class="btn btn-primary" name="tag_register" value="tag_register">タグ登録</button></a>

    </form>
</div>


<form action="" method="get" style="margin-bottom:1rem;">
    <input name="query" value="{{ request.GET.query }}" type="text">
    <button class="btn btn-info" type="submit" name="search">検索する</button>
</form>

<!-- ページネーション処理　-->
<div>{{ count }}件中{{ kensu }}件を表示中</div>
{% if is_paginated %}
<ul class="pagination" align="center">
    <!--前ページへのリンク-->
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    {% endif %}
    <!--　ページ数表示　-->
    {% for page_num in page_obj.paginator.page_range %}
    {% if page_obj.number == page_num %}
    <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
    {% endif %}
    {% endfor %}
    <!-- 次㌻へのリンク --->
    {% if page_obj.has_next %}
    <li class="page-item" >
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    {% endif %}
</ul>
{% endif %}

{% for company in aaa %}
<div class="post-preview">
    <a href="{% url 'report:company_detail' company.id %}">
        <p class="post-subtitle text-muted" style="font-size:1rem;margin-bottom:0.1px;">
            {{ company.kana_name }}
        </p>
        <h4 class="post-title text-dark" style="margin-bottom:0.1px;">
            {{ company.company_name }}
        </h4>
        <p class="post-subtitle text-muted" style="font-size:1rem;margin-top:0px;">
            {{ company.locate }}   &ensp; 〒{{company.address_number }}
        </p>
    </a>
    <hr>
</div>

{% empty %}
<p>一致するものはありません。</p>
{% endfor %}

<!-- ページネーション処理　-->
{% if is_paginated %}
<ul class="pagination" align="center">
    <!--前ページへのリンク-->
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    {% endif %}
    <!--　ページ数表示　-->
    {% for page_num in page_obj.paginator.page_range %}
    {% if page_obj.number == page_num %}
    <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
    {% endif %}
    {% endfor %}
    <!-- 次㌻へのリンク --->
    {% if page_obj.has_next %}
    <li class="page-item" >
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    {% endif %}
</ul>
{% endif %}
<div>{{ count }}件中{{ kensu }}件を表示中</div>

</body>
{% endblock %}
</html>