<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

<html lang="en">

{% block header %}
<head>
    <meta charset="UTF-8">
    <title>企業登録</title>
</head>
{% endblock %}

{% block contents %}
<body>

    <h1>企業登録</h1>
    <div class="container">
        <div class="row">
            <div class="my-div-style w-100">
                <div>
                    <form method="post" enctype="multipart/form-data" name="register_form">
                        {% csrf_token %}
                        <table class="table">
                            {{ form.as_table }}
                        </table>
                        <div class="row">
                            <button class="btn btn-success" type="submit" style="margin-right:1rem;">登録</button>
                    </form>
                    <form method="post">
                        {% csrf_token %}
                        <a name="companya"><button name="companya" value="companya" class="btn btn-primary" style="margin-right:1rem;">タグ登録</button></a>
                        <button class="btn btn-secondary" name="list_modoru">戻る</button>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>