<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>企業詳細画面</title>
</head>
{% endblock %}

{% block contents %}
<body>
    <h1>企業詳細</h1>
    <div style="margin-bottom:1rem;">
        <div>
            <h6>企業名</h6>
            <p width="70%">{{ company_detail.company_name }}</p>
        </div>

        <hr>

        <div>
            <h6>企業名（カナ）</h6>
            <p>{{ company_detail.kana_name }}</p>
        </div>

        <hr>

        <div>
            <h6>所在地</h6>
            <p>{{ company_detail.locate }}</p>
        </div>

        <hr>

        <div>
            <h6>タグ</h6>
            <div style="width:60%;"><p>{% for tag in tags %} {% if tag is not null %}【 {{ tag }} 】 &ensp;{% endif %}{% empty %}　-   {% endfor %}</p></div>
        </div>

        <hr>

        <div>
            <h6>推奨資格</h6>
            <div style="width:60%;"><p>{% for qualif in qualifs %} {% if qualif is not null %}【 {{ qualif }} 】&ensp;{% endif %}{% empty %}　- {% endfor %}</p></div>
        </div>
        <hr>
    </div>



    <div class="column">
        <div class="row" style="margin-left:0.1px;">
            {% if department == 6 %}
            <a href="{% url 'report:offer_register' pk %}" ><button class="btn btn-primary" style="margin-right:1rem;">求人票登録</button></a>
            <form method="post" name="del_offer">
                {% csrf_token %}
                <a href="{% url 'report:offer_delete' pk %}" name="del_offer"><button class="btn btn-danger" style="margin-right:1rem;" name="del_offer">求人票削除</button></a>
            </form>
            <form method="post" name="go_tag">
                {% csrf_token %}
                <a href="{% url 'report:company_add_tag' pk　%}" name="go_tag"><button class="btn btn-primary" name="go_tag">タグ編集</button></a>
            </form>
            {% endif %}
            {% if previous == "result" %}<a href="{% url 'report:result' %}">
            {% else %}<a href="{% url 'report:company_list' %}">
            {% endif %}<button class="btn btn-secondary" style="margin-left:1rem;">戻る</button></a>
        </div>

        <div style="margin-left:0.1px;margin-top:1rem;">
            <h5>この企業の求人票</h5>
            {% if offers is not null %}
            {% for offer in offers %}
            <form>
                <button class="btn btn-info" value="{{ offer.offer_id }}" onclick="window.open('/media/{{ offer.offer_pdf }}')" style="margin-bottom:1rem;">{{ offer.occupation_name }}の求人票を表示</button>
            </form>
            {% endfor %}
            {% endif %}
        </div>
            <div>
        <form method="post" name="create_er">
            {% csrf_token %}
            <a href="{% url 'report:create_exam_report' pk %}" name="create_er"><button class="btn btn-secondary" name="create_er">受験報告書作成ページ</button></a>
        </form>
    </div>
    </div>
</body>
{% endblock %}
</html>