<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>受験報告書作成</title>
</head>
{% endblock %}

{% block contents %}
<body>
<h1>受験報告書作成</h1>
<h4>{{ company }}</h4>
<div style="margin-top:1rem;">
    <form method="post">
        {% csrf_token %}
        <div>
            <h6>学年</h6>
            <input type="radio" name="grade" value="１" checked id="one"><label for="one">１年</label>
            <input type="radio" name="grade" value="２" id="two"><label for="two">２年</label>
            <input type="radio" name="grade" value="３" id="three"><label for="three">３年</label>
        </div>

        <hr>

        <div>
            <h6>性別</h6>
            <p>
                <input type="radio" name="seibetu" value="男" checked id="man"><label for="man">男</label>
                <input type="radio" name="seibetu" value="女" id="woman"><label for="woman">女</label>
            </p>
        </div>

        <hr>

        <div>
            <h6>筆記試験</h6>
            <div>
                <p><label style="margin-right:0.5rem;">時間:</label><input id="writing_time" type="text" maxlength="3" name="writing_time" style="width:3rem;margin-right:0.5rem;">分</p>
                <div class="row" style="margin-left:0rem;">
                    <p style="margin-right:0.5rem;">試験内容:</p>
                    <p style="margin-right:1rem;">
                        <input type="checkbox" id="commonsense" name="writing_content" value="一般常識">
                        <label for="commonsense">一般常識</label>
                    </p>
                    <p style="margin-right:1rem;">
                        <input type="checkbox" id="expert" name="writing_content" value="専門">
                        <label for="expert">専門</label>
                    </p>
                    <p style="margin-right:1rem;">
                        <input type="checkbox" id="japanese" name="writing_content" value="国語">
                        <label for="japanese">国語</label>
                    </p>
                    <p style="margin-right:1rem;">
                        <input type="checkbox" id="math" name="writing_content" value="数学">
                        <label for="math">数学</label>
                    </p>
                    <p style="margin-right:1rem;">
                        <input type="checkbox" id="english" name="writing_content" value="英語">
                        <label for="english">英語</label>
                    </p>
                    <p style="margin-right:1rem;">
                        <label for="writing_others">その他:</label>
                        <input type="text" name="writing_content" id="writing_others" maxlength="10" style="width:10rem;" >
                    </p>
                </div>
            </div>
            <div class="row" style="margin-left:0rem;">
                <label for="writing_question" style="margin-right:0.5rem;">試験問題:</label>
                <textarea id="writing_question" name="writing_question" style="width:41rem;height:8rem;" maxlength="320" placeholder="一行４０文字　最大８行まで"></textarea>
            </div>
        </div>

        <hr>

        <div>
            <h6>作文</h6>
            <div class="column" >
                <p><label style="margin-right:0.5rem;">時間:</label><input type="text" maxlength="3" name="composition_time" style="width:3rem;">分</p>
                <p><label style="margin-right:0.5rem;">字数:</label> <input type="text" maxlength="5" name="composition_char" style="width:5rem;">字</p>
                <p><label style="margin-right:0.5rem;">テーマ:</label> <input type="text" name="composition_theme" maxlength="30" width="30rem;"></p>
            </div>
        </div>

        <hr>

        <div>
            <h6>適性試験</h6>
            <div>
                <p><label style="margin-right:0.5rem;">時間:</label><input type="text" maxlength="3" name="aptitude_time" style="width:3rem;">分</p>
            </div>
            <div class="row" style="margin-left:0rem;">
                <p style="margin-right:0.5rem;">
                    種類:
                </p>
                <p style="margin-right:1rem;">
                    <input type="checkbox" id="personality" name="aptitude_type" value="性格">
                    <label for="personality">性格</label>
                </p>
                <p style="margin-right:1rem;">
                    <input type="checkbox" id="job" name="aptitude_type" value="職業適性">
                    <label for="job">職業適性</label>
                </p>
                <p style="margin-right:1rem;">
                    <input type="checkbox" id="computer" name="aptitude_type" value="コンピュータ適性">
                    <label for="computer">コンピュータ適性</label>
                </p>
                <p style="margin-right:1rem;">
                    <input type="checkbox" id="SPI" name="aptitude_type" value="SPI">
                    <label for="SPI">SPI</label>
                </p>
                <p>
                    <label for="aptitude_others">その他:</label>
                    <input type="text" maxlength="10" style="width:10rem;" name="aptitude_type" id="aptitude_others">
                </p>
            </div>
            <div class="row" style="margin-left:0rem;">
                <label for="aptitude_content" style="margin-right:0.5rem;">内容:</label>
                <textarea id="aptitude_content" name="aptitude_content" placeholder="１行４０文字　最大４行" style="width:41rem;height:8rem;" maxlength="160"></textarea>
            </div>
        </div>

        <hr>

        <div>
            <h6>面接試験</h6>
            <div class="column" style="margin-left:0rem;">
                <p style="margin-right:1rem;"><label for="interview_time" style="margin-right:0.5rem;">時間:</label><input id="interview_time" type="text" maxlength="3" name="interview_time" style="width:3rem;"><label for="interview_time">分</label></p>
                <p><label style="margin-right:0.5rem;">試験委員:</label><input id="examiner" type="text" maxlength="2" name="examiner" style="width:2rem;"><label for="examiner">人</label></p>
            </div>
            <div class="row" style="margin-left:0rem;">
                <p style="margin-right:0.5rem;">方法:</p>
                <p style="margin-right:1rem;">
                    <input type="checkbox" id="indivisual" name="how" value="個人面接">
                    <label for="indivisual">個人面接</label>
                </p>
                <p style="margin-right:1rem;">
                    <input type="checkbox" id="group" name="how" value="集団面接">
                    <label for="group">集団面接</label>
                </p>
                <p style="margin-right:1rem;">
                    <label for="interview_others">その他:</label>
                    <input type="text" id="interview_others" name="how">
                </p>
            </div>
            <div style="margin-left:0rem;" class="row">
                <label for="interview_content" style="margin-right:0.5rem;">質問事項:</label>
                <textarea id="interview_content" name="interview_content" maxlength="320" style="width:41rem;height:9rem;" placeholder="
１行４０文字　最大８行"></textarea>
            </div>
        </div>

        <hr>

        <div>
            <h6>健康診断</h6>
            <div class="row" style="margin-left:0rem;">
                <label for="health" style="margin-right:0.5rem;">内容:</label>
                <textarea id="health" name="health" maxlength="40" style="width:41rem;height:2rem;" placeholder="１行４０文字　最大１行"></textarea>
            </div>
        </div>

        <hr>

        <div>
            <h6>受験後の感想と後輩への助言</h6>
            <textarea id="advice" name="advice" maxlength="200" style="width:41rem;height:6rem;" placeholder="１行４０文字　最大５行"></textarea>
        </div>
        <hr>

        <div>
            <h6>備考</h6>
            <textarea name="remarks"maxlength="80" style="width:41rem;height:3rem;" placeholder="１行４０文字　最大２行"></textarea>
        </div>



        <button name="cer" class="btn btn-primary" style="margin-right:1rem;">受験報告書作成</button>
        <button name="modoru" class="btn btn-secondary">戻る</button>
        {{ error }}
    </form>
</div>
</body>
{% endblock %}
</html>