<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>送付状作成</title>
</head>
{% endblock %}

{% block contents %}
<body>
<h1>送付状作成</h1>
<div class="container">
    <form method="post" name="letter_info">
        {% csrf_token %}
        <div style="margin:1rem;font-weight:bold;">担当者名:<input type="text" name="info" required placeholder="(例)〇〇部〇〇課〇〇様または〇〇部御中" style="width:60%; box-sizing:border-box;"></div>
        <div style="margin:1rem;font-weight:bold;">自分の郵便番号:<input type="text" placeholder="xxx-xxxx(半角)" name="info" required style="width:60%; box-sizing:border-box;"></div>
        <div style="margin:1rem;font-weight:bold;">自分の住所:<input type="text" placeholder="(例)〇〇県××市△△町□□番地" name="info" required style="width:60%; box-sizing:border-box;"></div>
        <div style="margin:1rem;font-weight:bold;">自分の電話番号:<input type="text" placeholder="090-xxxx-xxxx(半角)" name="info" required style="width:60%; box-sizing:border-box;"></div>

        <div style="margin:1rem;" class="column">
            <div style="font-weight:bold;">同封書類</div>
            <div>
                <label for="rireki">
                    <input id="rireki" type="checkbox" name="dohu" value="履歴書">履歴書
                </label>
            </div>

            <div>
                <label for="seiseki">
                    <input id="seiseki" type="checkbox" name="dohu" value="成績証明書">成績証明書
                </label>
            </div>

            <div>
                <label for="sotugyo">
                    <input id="sotugyo" type="checkbox" name="dohu" value="卒業見込証明書">卒業見込証明書
                </label>
            </div>

            <div>
                <label for="kenko">
                    <input id="kenko" type="checkbox" name="dohu" value="健康診断書">健康診断書
                </label>
            </div>

            <div>
                <label for="entry">
                    <input id="entry" type="checkbox" name="dohu" value="エントリーシート">エントリーシート
                </label>
            </div>
        </div>
        <div class="row" style="margin-left:1rem;">
        <button class="btn btn-success" name="create" style="margin-right:1rem;">作成</button>
        </form>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-secondary" name="return">戻る</button>
        </div>
    </form>

<div style="margin-left:1rem;color:#666666;">
    ※wordファイルを開きます。保存してください。
</div>
</div>
</body>
{% endblock %}
</html>