<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

{% block header %}
<head>
    <meta charset="UTF-8">
    <title>求人票登録画面</title>
</head>
<body>
<h2>求人票登録</h2>
{% endblock %}

{% block contents %}

<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <button class="btn btn-success" type="submit">登録</button>
                <a href="{{ request.META.HTTP_REFERER }}"><button class="btn btn-secondary" style="margin-left:1rem;" type="button">戻る</button></a>
            </form>
        </div>
    </div>
</div>

</body>
{% endblock %}
</html>