<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html lang="en">
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>求人票削除画面</title>
</head>
{% endblock %}
{% block contents %}
<body>
<h2>求人票削除</h2>
<div class="container">
<form action="" method="post">
    {% csrf_token %}
    <table border="1">
        {% if offers %}
        <tr>
            <th>職種</th>
            <th>求人票</th>
            <th>削除</th>
        </tr>
        {% for offer in offers %}
        <tr>
            <td style="padding:1rem;">{{ offer.occupation_name }}</td>
            <td style="padding:1rem;"><a href="" onclick="window.open('/media/{{ offer.offer_pdf }}')">求人票を表示</a></td>
            <td style="padding:1rem;"><label><input type="checkbox" name="delete" value="{{ offer.pk }}"></label></td>
        </tr>
        {% endfor %}
        {% else %}
        求人票は登録されていません。
        {% endif %}

    </table>
    <div class="row" style="margin-left:0.1px;margin-top:1rem;">
    <button type="submit" class="btn btn-danger" style="margin-right:1rem;">削除</button>
</form>


<form method="post" name="modoru"><a name="modoru">
    {% csrf_token %}
    <button class="btn btn-secondary" style="" name="modoru" value="modoru">戻る</button></a>
</form>
</div>
</div>
</body>
{% endblock %}
</html>