<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
<html lang="en">

{% block header %}
<head>
    <meta charset="UTF-8">
    <title>タグ削除</title>
</head>
{% endblock %}

{% block contents %}

<body>
<h1>タグ削除</h1>
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">

            <form action="" method="get" style="margin-bottom:1rem;">
                <input name="query" value="{{ request.GET.query }}" type="text">
                <button class="btn btn-info" type="submit">タグ検索</button>
            </form>

            <div>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        {% for tag in object_list %}
                        <label style="margin:7px;"><input type="checkbox" name="delete" value="{{ tag.pk }}">{{ tag.tag_name }}</label>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-danger" style="margin-right:1rem;">削除</button>
                </form>

                <form method="post" name="modoru"><a name="modoru">
                    {% csrf_token %}
                    <button class="btn btn-secondary" style="" name="modoru" value="modoru">戻る</button></a>
            </div>
            </form>
            </div>
        </div>
    </div>
</div>


</body>
{% endblock %}

</html>