{% extends 'base.html' %}
{% block title %}サインアップ{% endblock %}

{% block active_signup %}active{% endblock %}

{% block contents %}
    <div>
        <div>
            <div>
                <h1>
                    ユーザ登録
                </h1>
                {% if confirmation %}
                    <p>ユーザ登録を確定するには、以下のボタンを押してください。</p>
                    <form method="post"
                          action="{% url 'account_confirm_email' confirmation.key %}">
                        {% csrf_token %}
                        <button class="#"type="submit">確定</button>
                    </form>

                {% else %}
                    {% url 'account_email' as email_url %}
                    <p>リンクの有効期限が過ぎています。
                        <a href="{{ email_url }}">再申請</a>
                    .</p>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock%}