<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link href="#" rel="stylesheet">
</head>

{% block contents %}
<body>
    <div class="center center_login">
        <h1 class="text">ログイン</h1>
        <form class="form_font" method="post" action="{% url 'report:login' %}">
            {% csrf_token %}
            <div class="mt-2">メールアドレス</div>
            {{ form.username }}
            <div class="mt-2">パスワード</div>
            {{ form.password }}
            <button class="btn btn-secondary btn-block mt-2" tipe="submit">ログイン</button>
            <p><a class="" href="{% url 'account_reset_password' %}" >パスワードを忘れましたか？</a></p>
        </form>
    </div>
</body>
{% endblock %}
</html>

