<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>パスワード変更</title>
    <link href="#" rel="stylesheet">
</head>

{% block contents %}
<body>
    <div class="center center_a">
        <h1 class="text">パスワードを変更しました</h1>
        <div>
            <a class="ml-3" href="{% url 'report:login' %}"><button class="btn btn-secondary btn-block mt-2" tipe="submit">ログインページへ行く</button></a>
        </div>
    </div>
</body>
{% endblock %}
</html>
