{% extends 'base.html' %}
{% block title %}パスワードリセット完了{% endblock %}

{% block contents %}
    <div>
        <div>
            <div class="center center_login">
                <h1>パスワードリセット</h1>

                {% if user.is_ausenticated %}
                {% include 'account/snippets/already_logged_in.html' %}
                {% endif %}

                <p>パスワードリセット用メールを送信しました。</p>
            </div>
        </div>
    </div>
{% endblock %}