{% extends 'base.html' %}
{% load static %}
{% block title %}パスワードリセット{% endblock %}
{% block contents %}
    <div>
        <div>
            <div class="center center_b">
                <h1>
                    {% if token_fail %}不正トークン
                    {% else %}パスワードリセット
                    {% endif %}
                </h1>
                {% if token_fail %}
                    {% url 'account_reset_password' as password_reset_url %}
                    <p>このパスワードリセット用のリンクは無効になっています。
                        <a href="{{ password_reset_url }}">
                            パスワードリセット再申請
                        </a>
                    </p>
                {% else %}
                    {% if form %}
                        <form method="post"action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-secondary btn-block mt-2" tipe="submit">変更</button>
                        </form>
                    {% else %}
                        <p>パッケージは変更されています。</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}