{% extends 'base.html' %}
{% block title %}パスワードリセット{% endblock %}
{% load static %}
{% block contents %}
    <div>
        <div>
            <div class="center center_login">
                <h1>パスワードリセット</h1>
                {% if user.is_ausenticated %}
                {% include 'account/snippets/already_logged_in.html' %}
                {% endif %}

                <p>パスワードリセット用メールを送信します。</p>
                <form method="post"action="{% url 'account_reset_password' %}">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button class="btn btn-secondary btn-block mt-2" tipe="submit">送信</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}