<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block contents %}

<h3>あなたの所属学科を選んでください</h3>

    <form method="post">{% csrf_token %}

        <select name="depart" id="department">
            <option value="" selected>選択してください</option>
                {% for depart in departs %}
                    <option name="name_{{ depart.id }}" value="{{ depart.id }}">
                        {{ depart.department_name }}
                    </option>
                {% endfor %}
        </select>

        <button type="submit">登録</button>

    </form>

{% endblock %}
</body>
</html>