<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>サインアップ</title>
</head>


{% block contents %}
<body>
    <div>
        <div>
            <div class="center center_login">
                <h1 class="text">サインアップ</h1>
                <div>{{ message }}</div>
                {% if form.errors %}
                <ul>
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form class="form_font" method="POST" action="{% url 'report:signup' %}">
                    {% csrf_token %}
                    <div class="mt-2">学科</div>
                    {{ form.department }}
                    <div class="mt-2">名前</div>
                    {{ form.username }}
                    <div class="mt-2">メールアドレス</div>
                    {{ form.email }}
                    {{form.email.errors}}
                    <div class="mt-2">パスワード</div>
                    {{ form.password }}
                    {{form.password.errors}}
                    <button class="btn btn-secondary btn-block mt-2" type="submit">登録</button>
                </form>

            </div>
        </div>
    </div>
</body>
{% endblock %}