.center{
    position: relative;
}
.center_b{
    position: absolute;
    top: -200px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 410px;
    height: 300px;
}
.text{
    text-align: center;
}
.center_login{
    position: absolute;
    top: -200px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 360px;
    height: 300px;
}
.center_a{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 300px;
}
.form_font{
    font-size: 15px;
}
