body, #wrapper{
    display:flex;
    flex-direction: column;
    min-height: 7vh;
    margin-bottom:2.2rem;
}
a.hellojob{
    font-family: 'arial black';
}
a.hellojob:hover{
    text-decoration:none;
}
footer{
    margin-top:auto;
}