{% extends 'base.html' %}

{% block title %}500エラー{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <h1>データが飛びました</h1>
            <h3>元のページに戻れません。</h3>
            <h5>下記ボタンよりお戻りください</h5>
        </div>
    </div>
</div>
{% endblock %}