{% load static %}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/one-page-wonder.min.css' %}" rel="stylesheet">

    <!-- My style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
    <link href="{% static 'css/auth.css' %}" type="text/css" rel="stylesheet">
    {% block head %}{% endblock %}

</head>



<body style="padding:1rem;">
    <div id="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top bg-info">
            <div class="container-fluid">
                <a class="navber-brand hellojob text-left" href="{% url 'report:menu' %}" style="margin-left:1rem;color:#ffffff;font-size:30px;">HELLOJOB</a>
                {% if user.is_authenticated %}
                <!--p class="navber-brand hellojob text-left" style="margin-top:1.5rem;margin-right:53rem;color:#ffffff;font-size:15px;">welcome! {{ user.department }}  {{ user.username }}</p-->
                <a class="navbar-nav hellojob text-right" href="{% url 'account_logout' %}" style="color:#ffffff;font-size:20px;margin-right:1rem;">LOGOUT</a>
                {% else %}
                <div class="row">
                <a class="navbar-nav hellojob text-right" href="{% url 'report:signup' %}" style="color:#ffffff;font-size:20px;">SIGNUP</a>
                <a class="navbar-nav hellojob text-right" href="{% url 'report:login' %}" style="margin-left:1rem;margin-right:1.8rem;color:#ffffff;font-size:20px;">LOGIN</a>
                </div>
                {% endif %}
            </div>
        </nav>
    </div>

{% block header %}{% endblock %}
{% block contents %}{% endblock %}

    <footer style="margin-top:1rem">
        <nav class="navbar-expand-lg navbar-light navbar-custom fixed-bottom bg-info">
            <div class="container">
                <p class="m-0 text-white small text-center">Copyright &copy;Team Benzene</p>
            </div>
        </nav>
    </footer>



    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% block jsplus %}{% endblock %}
</body>
</html>