<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if user.is_authenticated %}
<p>you are {{ user }}</p>
{% else %}
<p>who are you?</p>
{% endif %}

{% for depart in departs %}

        <p>{{ depart }} is exist</p>

{% endfor %}

    <select name="depart" id="department">
            <option value="" selected>選択してください</option>
                {% for depart in departs %}
                    <option value= '{{ depart.id }}' name="{{ depart.id }}">
                        {{ depart.department_name }}
                    </option>
                {% endfor %}
        </select>
{% block active_signup %}{% endblock %}
<a href="{% url 'report:signup' %}">signup</a>
<a href="{% url 'account_logout' %}">logout</a>
<a href="{% url 'report:login' %}">login</a>


</body>

</html>