<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>企業検索画面</title>
</head>
{% endblock %}

{% block contents %}
<body>
    <h4>企業検索</h4>
    <form action="" method="POST" name="sousin">
         <button name="button"value="back"class="btn btn-secondary">戻る</button>
    {% csrf_token %}

         <div>フリーワード <input name="query" value="{{ request.POST.query }}" type="text"></div>
         <div>(※フリーワードを入力するとその下は条件に含まれなくなります。)</div>

        <hr>

         <div style="padding:6px;margin-bottom:5px;border:2px solid #333333;display:inline-block;">資格条件</div>
        <div>
            <select id="department" name="dep_qal">
                <option name="dep_qal"value="">学科を選択すると関連した資格が表示されます</option>
                {% if departs %}
                    {% for depart in departs %}
                        {% if not depart.id in no_show %}
                            <option name="dep_qal" value="{{ depart.id }}">{{ depart.department_name }}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </select>

            <script>
            var department = document.getElementById('department');
                department.onchange = changedepartment;

                function changedepartment(){
                    var departmentID = department.value;
                    console.log(departmentID);
                    setqual();
                }

                function setqual(){
                    {% autoescape off %}
                    var koudo = {{ object_list }};
                    var quadep = {{ quadep }};
                    {% endautoescape %}
                    var n = 0;
                    var parent = document.getElementById('hoge');
                    var department = document.getElementById('department');
                    var departmentID = department.value;
                    parent.innerHTML='';
                    quadep.forEach(function(item) {
                        if(departmentID == quadep[n].departments_id) {
                            var label = document.createElement('label');
                            var quanum = quadep[n].qualification_id - 1;
                            {% autoescape off %}
                            label.setAttribute('for', quanum );
                            {% endautoescape %}
                            label.appendChild(document.createTextNode(koudo[quanum].qualif_name));

                            var cb = document.createElement("input");
                            {% autoescape off %}
                            cb.id = quanum ;
                            {% endautoescape %}
                            cb.name = 'qual_query';
                            cb.setAttribute('type','checkbox');
                            cb.value = quadep[n].qualification_id;
                            
                            hoge.appendChild(cb);
                            hoge.appendChild(label);
                            var kaigyo = document.createElement("br");
                            hoge.appendChild(kaigyo);
                        };
                        n = n+1;
                    });
                }
            </script>

            <div id="hoge"></div>

        </div>

         <div style="padding:6px;margin-top:10px;margin-bottom:5px;border:2px solid #333333;display:inline-block;">詳細条件</div>

         <div>業種
            {% if industry %}
                <select name="ind_query">
                    <option value="">------------------------</option>
                    {% for indus in industry %}
                        <option name="ind_query"value="{{ indus.big_id }}">{{ indus.big_name }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <p>業種が登録されていません</p>
            {% endif %}
         </div>

         <div>
             所在地 <input name="locate_query"value="{{ request.POST.locate_query }}"type="text">
         </div>

         <div>内定者ありのみ
             <label for="tagbox yes">
                 <input type="radio"name="passed"value="t"id="tagbox yes">はい
             </label>
             <label for="tagbox no">
                 <input type="radio"name="passed"value="f"id="tagbox no">いいえ
             </label>
         </div>

         <div style="padding:6px;margin-bottom:5px;border:2px solid #333333;display:inline-block;">タグ</div>
         <input name="tag_query" value="{{ request.POST.tag_query }}" type="text">

         <div style="margin-top:1rem">
             <button name="button"value="next"class="btn btn-info">検索する</button>
             <button name="button"value="back"class="btn btn-secondary">戻る</button>
         </div>
    </form>

</body>
{% endblock %}
</html>