<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>企業詳細画面</title>
</head>
{% endblock %}

{% block contents %}
<body>
    <h1>企業詳細</h1>
    <table border="2" style="margin-bottom:1rem;" width="50%">
        <tr>
            <th width="30%">企業名</th>
            <td width="70%">{{ company_detail.company_name }}</td>
        </tr>

        <tr>
            <th>企業名（カナ）</th>
            <td>{{ company_detail.kana_name }}</td>
        </tr>

        <tr>
            <th>所在地</th>
            <td>{{ company_detail.locate }}</td>
        </tr>

        <tr>
            <th>タグ</th>
            <td>
                {% for tag in tags %}
                    {% if tag is not null %}
                        {{ tag }}<br>
                    {% endif %}
                {% empty %}
                    タグは登録されていません
                {% endfor %}
            </td>
        </tr>

        <tr>
            <th>推奨資格</th>
            <td>
                {% for qualif in qualifs %}
                    {% if qualif is not null %}
                        {{ qualif }}<br>
                    {% endif %}
                {% empty %}
                    資格は登録されていません
                {% endfor %}
            </td>
        </tr>
    </table>

    <div style="margin-left:0.1px;margin-top:1rem;">
        <h5>この企業の求人票</h5>
        {% if offers %}
            {% for offer in offers %}
                <form>{% csrf_token %}
                    <button class="btn btn-info" value="{{ offer.offer_id }}" onclick="window.open('/media/{{ offer.offer_pdf }}')" style="margin-bottom:1rem;">{{ offer.occupation_name }}の求人票を表示</button>
                </form>
            {% endfor %}
        {% else %}
            求人票が登録されていません
        {% endif %}
    </div>
    <div>
        <form method="post" name="create_er">
            {% csrf_token %}
            <a href="{% url 'report:create_exam_report' pk %}" name="create_er"><button class="btn btn-secondary" name="create_er">受験報告書作成ページ</button></a>
        </form>
    </div>
</body>
{% endblock %}
</html>