<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>の求人票一覧</title>
</head>
{% endblock %}

{% block contents %}
<body>
    <h4>{{ company.company_name }}の求人票一覧</h4>
    <a href="{% url 'report:result' %}"><button class="btn btn-secondary">戻る</button></a>
    {% if offers %}
        {% for offer in offers%}
            <form style="margin-top:5px;">
                <a href="/media/{{ report.report_pdf }}"target="_blank">
                    <button class="btn btn-info" value="{{ offer.offer_id }}" onclick="window.open('/media/{{ offer.offer_pdf }}')" style="margin-bottom:1rem;">
                        {{ offer.occupation_name }}の求人票を表示する
                    </button>
                </a>
            </form>
        {% endfor %}
    {% else %}
        <p>求人票はありません</p>
    {% endif %}
</body>
{% endblock %}
</html>