<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>の求人票一覧</title>
</head>
{% endblock %}

{% block contents %}
<body>
    <h4>{{ company.company_name }}の受験報告書一覧</h4>
    <a href="{% url 'report:result' %}"><button class="btn btn-secondary">戻る</button></a>
    {% if reports %}
        {% for report in reports %}
            {% if report.report_pdf %}
                <form>{% csrf_token %}
                    <a href=" /media/{{ report.report_pdf }}"target="_blank"class="btn btn-info"rel="noopener"style="margin-top:5px;padding:10px"><!--button  value="{{ report.report_id }}" style="margin-bottom:1rem;" onclick="window.open('/media/{{ offer.offer_pdf }}')"</button>-->
                        {{ report.report_date }}の
                        {% if report.report_tests %}
                            {% if report.report_tests == "last" %}{{ report.report_date }}の最終試験
                            {% else %}{{ report.report_date }}の{{  report.report_tests  }}次試験
                            {% endif %}
                        {% else %}試験回数未登録
                        {% endif %}の受験報告書を表示する
                    </a>
                </form>
            {% else %}<div class="btn btn-info"style="margin-top:5px;align-items:center;width:500px;">受験報告書が登録されていません</div>
            {% endif %}
        {% endfor %}
    {% else %}<p>受験報告書はありません</p>
    {% endif %}
</body>
{% endblock %}
</html>