<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

{% block header %}
<head>
    <meta charset="UTF-8">
    <title>検索結果</title>
</head>
{% endblock %}

{% block contents %}
<body>
    <div><a href="{% url 'report:search' %}"><button class="btn btn-secondary">戻る</button></a></div>

    <table border="1">
        <tr><th>検索結果{{ count }}件</th></tr>

        {% if object_list %}
            {% for company in object_list %}
                <tr><td><div>
                            {{ company.company_name }}<hr>
                            郵便番号{{ company.address_number }} | 所在地　{{ company.locate }}
                        </div>
                        <div>
                            <a href="{% url 'report:offers_list' company.id %}">&ensp;求人票を表示する</a>&ensp;|&ensp;
                            <a href="{% url 'report:list' company.id %}">受験報告書を表示する</a>&ensp;|&ensp;
                            <form method="POST" style="display:inline;">{% csrf_token %}
                                <a href="">
                                    <button name="previ" value="result_{{ company.id }}" style="border:none;background:transparent;color:#5f60f4">企業の情報</button>
                                </a>
                            </form>
                            {% if user.is_authenticated %}&ensp;|&ensp;
                            <a href="{% url 'report:letter_template' company.id %}">送付状を作成する</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% else %}<h4 style="margin-top:5px;">該当するものはありません。</h4>
        {% endif %}
    </table>


    {% if is_paginated %}
        <ul class="pagination" align="center">
        <!--前ページへのリンク-->
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

            <!--　ページ数表示　-->
        {% for page_num in page_obj.paginator.page_range %}
            {% if page_obj.number == page_num %}
                <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
            {% endif %}
        {% endfor %}

    <!-- 次㌻へのリンク --->
        {% if page_obj.has_next %}
            <li class="page-item" >
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
        </ul>
    {% endif %}

    <div><a href="{% url 'report:search' %}">
        <button class="btn btn-secondary">戻る</button>
    </a></div>

</body>
{% endblock %}
</html>