<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
<html lang="ja">
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>メニュー画面</title>
</head>
{% endblock %}

{% block contents %}
<body class="mt-5" style="*{
    text-align:center;
}">
    <p style="color:#000000;font-size:15px;">ようこそ！ &ensp;
        {% if user.is_authenticated %}
            {{ user.department }}&ensp;の&ensp;{{ user.username }}&ensp;さん
        {% endif %}
    </p>
    <h1 style="text-align: center; font-size:clamp(50px,10vw,100px); margin-top:1rem;  margin-bottom:1rem;">ハロージョブ</h1>

    <center style="height:40%;">
        <a href="{% url 'report:search' %}"><button type="button" class="btn btn-primary " style="width:20%; height:100%;  font-size:clamp(5px,5vw,25px);">企業検索</button></a>
        {% if user.is_authenticated %}
            <a href="{% url 'report:my_report' user.id %}">
                <button type="button" class="btn btn-primary " style="width:20%; height:100%;margin-right:1rem;margin-left:1rem;font-size:clamp(5px,5vw,25px);">受験報告一覧</button>
            </a>
            {% if user.department_id == 6 %}
                <a href="{% url 'report:company_list' %}"><button type="button" class="btn btn-primary " style="width:20%; height:100%; font-size:clamp(5px,5vw,25px);">企業一覧</button></a>
            {% endif %}
        {% endif %}
    </center>
</body>
{% endblock %}

</html>