<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="ja">

    {% block header %}
        <head>
            <meta charset="UTF-8">
            <title>受験報告詳細画面</title>
        </head>
    {% endblock %}

    {% block contents %}
    <body class="body">
        <h1 style="margin-top:0.5rem; margin-left:5%;">受験報告詳細</h1>
        <br>
            <form method="post">
                <table border="1" width="70%" cellpadding="10" style="margin-top:2rem; margin-bottom:2rem; margin-left:5%;">
                    <tr>
                        <th>会社名</th>
                        <td>{{ report_detail.report_company }}</td>
                    </tr>
                    <tr>
                        <th>受験者</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        {% if report_detail.report_tests == "last" %}
                            <th>試験回数</th>
                            <td>最終試験</td>
                        {% elif report_detail.report_tests %}
                            <th>試験回数</th>
                            <td>{{ report_detail.report_tests }}</td>
                        {% else %}
                            <th>試験回数</th>
                            <td>未登録</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>合否</th>
                        {% if report_detail.report_passed is not null %}
                            {% if report_detail.report_passed %}
                                <td>合格</td>
                            {% else %}
                                <td>不合格</td>
                            {% endif %}
                        {% else %}
                            <td>結果待ち</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>報告書</th>
                        <td>
                            {% if report_detail.report_pdf %}
                                <a href=" /media/{{ report_detail.report_pdf }} " target="_blank">受験報告書({{ pdf }})を開く</a>
                            {% else %}受験報告書は登録されていません
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </form>
        </br>
        <br>
            <div class="btn_gp">
                <div class="row" style="margin-left:5%; margin-bottom:10px; margin-top:1rem">
                    <a href="{% url 'report:edit_report' pk %}"><button type="button" class="btn btn-primary " style="margin-right:1.5rem;">編集</button></a>
                    <a href="{% url 'report:my_report' user.id %}"><button class="btn btn-secondary" style="margin-right:1rem;">戻る</button></a>
                </div>
            </div>
        </br>
    </body>
    {% endblock %}
</html>