<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="ja">
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>受験報告編集画面</title>
</head>
{% endblock %}

{% block contents %}
<body class="body">

    <h1 style="margin-top:0.5rem; margin-left:5%;">受験報告編集</h1>
        <form action="" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <table border="1" cellpadding="20" style="margin-top:2rem; margin-bottom:2rem; margin-left:5%;">
                <tr>
                    <th>企業名</th>
                    <td>{% for c in company %}
                            {{ c }}
                        {% endfor %}
                    </td>
                </tr>
                {{ form.as_table }}
            </table>
            <br>
                <div class="btn_gp">
                    <div class="row" style="margin-left:0rem; margin-bottom:10px;">
                        <button type="submit" class="btn btn-primary " style="margin-right:1.5rem; margin-left:5%; margin-bottom:2rem;">更新</button>
                        <a href="{% url 'report:details_report' object.pk %}"><button class="btn btn-secondary">戻る</button></a>
                    </div>
                </div>
            </br>
        </form>

</body>
{% endblock %}
</html>