<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="ja">
    {% block header %}
    <head>
        <meta charset="UTF-8">
        <title>受験報告一覧画面</title>
    </head>
    {% endblock %}

    {% block contents %}

    <body class="body">

        <h1 style="margin-top:0.5rem; margin-left:5%;">
            {% if user.department_id != 6 %}{{ user.username }}の{% endif %}
            受験報告一覧
        </h1>

        <br>
            <div class="btn_gp">
                <div class="row" style="margin-top:2rem; margin-left:5%; margin-bottom:7px;">
                    {% if user.department_id != 6 %}
                        <a name="register" href="{% url 'report:register_report' %}"><button type="button" class="btn btn-primary " style="margin-right:1.5rem;"> 新規登録 </button></a>
                    {% endif %}

                    <a href="{% url 'report:menu' %}"><button class="btn btn-secondary"> 戻る </button></a>
                </div>
            </div>
        </br>

        {% for report in report_list %}
        <div class="clearfix">
            <a href="{% url 'report:details_report' report.pk %}">
                <table border="2" cellpadding="5" class="table_bg set_center" width="72%" style="margin-bottom:2px; margin-left:5%;">
                    <br>
                        <th width="28%" height="50">{{ report.report_company }}</th>
                        <td>
                            {% if report.report_pdf %}
                                <a href=" /media/{{ report.report_pdf }} " target="_blank">
                                    {% if report.report_tests %}
                                        {% if report.report_tests == 'last' %}
                                            最終試験の
                                        {% else %}
                                            {{ report.report_tests }}次試験の
                                        {% endif %}
                                    {% endif %}
                                    受験報告書を見る
                                </a>
                            {% else %}
                                受験報告書は登録されていません
                            {% endif %}
                        </td>
                    </br>
                </table>
            </a>
        </div>
        {% empty %}
            <p style="margin-top:2rem; margin-left:5%;"><b style="font-size:30px;">受験報告を作成してください。</b></p>
        {% endfor %}
                <!-- ページネーション処理　-->

        <!--{% if is_paginated %}
            <ul class="pagination" align="center">
                前ページへのリンク
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for page_num in page_obj.paginator.page_range %}
                    {% if page_obj.number == page_num %}
                        <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                    {% endif %}
                {% endfor %}



                {% if page_obj.has_next %}
                    <li class="page-item" >
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}-->
    </body>
    {% endblock %}
</html>