<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

<html lang="ja">
    {% block header %}
    <head>
        <meta charset="UTF-8">
        <title>受験報告登録画面</title>
    </head>
    {% endblock %}

    {% block contents %}
    <body class="body">
        <h1 style="margin-top:0.5rem; margin-left:5%;">受験報告登録</h1>
        <p style="margin-top:0.5rem; margin-left:5%;">※採用試験が１回の場合は一回目で「最終試験」を、２回の場合は二回目で「最終試験」を選択してください。</p>
        <form method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            <table class="table" style="margin-top:2rem; margin-bottom:2rem; margin-left:5%;">
                {{ form.as_table }}
            </table>
            <a href="{% url 'report:my_report' user.id %}"><button class="btn btn-success" type="submit" style="margin-left:5%; margin-right:1.5rem;">登録</button></a>
            <a href="{% url 'report:my_report' user.id %}"><button type="button" class="btn btn-secondary">戻る</button></a>
        </form>
        <!--<a href="{{ request.META.HTTP_REFERER }}"><button  class="btn btn-secondary" style="margin-left:5%; margin-top:1rem;">戻る</button></a>-->
    </body>
    {% endblock %}
</html>